* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: sans-serif;
 }


header {
    background-color: #081c4c;
    display: flex;
    align-items: center;
    padding: 0.2rem 0.5rem;
    position: sticky;
    top: 0px;
    z-index: 2;
    margin-bottom: .375rem;
}

/* CABEÇARIO */
.cabecario {
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
    color: gray;
}
 
.cabecario  ul{
    display: flex;
    width: 100%;
    justify-content: left;
    /* gap: .5rem; */
}
 
.cabecario .vazio {
    width: .5rem;
    padding: 0;
    background-color: #f5f5f5;
    align-self: flex-end;
}
 
.cabecario  li{
    width: 15%;
    padding: 0;
    margin-top: 6%;
    display: flex;
    justify-content: center;
    padding: .5rem 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 2px solid gray;
    background-color: #fff;
}
.cabecario li a{
    color: #808080;
    display: flex;
    justify-content: center;
    text-decoration: none;
}


.cabecario .active {
    color: #000;
    background-color: #d3d3d3;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: none;
}

/* Sub menu */
.subCabecario {
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
    color: gray;
}
.subCabecario  ul{
    display: flex;
    width: 100%;
    justify-content: left;
    /* gap: .5rem; */
}

.subCabecario  ul{
    display: flex;
    width: 100%;
    justify-content: left;
    /* gap: .5rem; */
}
 
.subCabecario .vazio {
    width: .5rem;
    padding: 0;
    background-color: gray;
    align-self: flex-end;
}
 
.subCabecario  li{
    width: 15%;
    padding: 0;
    margin-top: 0.5%;
    display: flex;
    justify-content: center;
    padding: .5rem 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 2px solid gray;
    /* background-color: #fff; */
}
.subCabecario li a{
    color: #2c4c7c;
    display: flex;
    justify-content: center;
    text-decoration: none;
}


.subCabecario .active {
    color: red;
    background-color: #d3d3d3;
    /* border-top: 2px solid gray; */
    /* border-left: 2px solid gray; */
    /* border-right: 2px solid gray; */
    border-bottom: 4px solid #2c4c7c;
}

.cardNovaRegra{
    width: 98%;
    height: 76%;
    background-color: white;
    border: 1px solid white;
    border-radius: 12px;
    margin: 19.2px;
    position: fixed;
    top: 21vh;
}

h3{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding-top: 40px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.titulos {
    padding: 10px;
}

.titulos hr{
    width: 100%;
}

.titulos > h2 {
    color: #000;
    font-size: 90px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 4px;
    padding-left: 20px;
}

.titulos2 > h2 {
    color: #000;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    padding-left: 20px;
    margin-right: 200px;
    display: inline-block;
}

.titulos > h5 {
    color: #c2c2c2;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

label{
    color: #2c4c7c;
    font-weight: bold;
    font-size: 20px;
}

select{
    height: 35px;
    width: 350px;
}

form input{
    height: 35px;
    width: 350px;
}
form p{
    padding-top: 35px;
    padding-left: 20px;
}

form p {
    text-align: left;
    margin-right: 50px; /* Ajuste conforme necessário */
}

form {
    text-align: right;
    font-family: "Poppins", sans-serif;
  }

  form p {
    text-align: left;
    font-family: "Poppins", sans-serif;
    margin-right: 50px; /* Ajuste conforme necessário */
  }

  form label {
    display: inline-block;
    width: 500px; /* Ajuste conforme necessário */
    text-align: left;
    font-family: "Poppins", sans-serif;
    margin-right: 10px; /* Espaçamento entre a etiqueta e o campo de entrada */
  }

  form input,
  select {
    font-family: "Poppins", sans-serif;
    width: 350px; /* Ajuste conforme necessário */
  }

.cardNovaRegra {
  display: flex;
}
    
.racionalRegra {
  margin-left: 20px; /* Ajuste a margem conforme necessário */
  height: 650px;
  overflow-y: scroll;
}

.restaurarFlex {
    flex: 0 0 auto;
}

.racionalRegra select{
    font-family: "Poppins", sans-serif;
    display: inline-block;
    width: 200px; /* Ajuste conforme necessário */
    margin-right: 100px;
    margin-top: 45px;
    margin-bottom: 25px;
}

.racionalRegra label {
    font-family: "Poppins", sans-serif;
    color: black;
    font-weight: normal;
    padding-right: 30px;
    padding-left: 10px;
    vertical-align:top;
}

.racionalRegra input{
    height: 20px;
    width: 20px;
}

.botoesNovaRegra button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16.6px;
    padding: 0.3rem 0.5rem;
    width: 200px;
    height: 50px;
    background-color: #2c4c7c;
    border: solid 1px #2c4c7c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}

.botoesNovaRegra .retornar{
    position: fixed;
    top: 1010px;
    right: 240px;
}
.botoesNovaRegra .salvar{
    position: fixed;
    top: 1010px;
    right: 30px;
}
.botoesNovaRegra .adicionar{
    position: fixed;
    background-color: white;
    border: none;
    color: lightgray;
    box-shadow: none;
    top: 930px;
    right: 30px;
}