#selects {
    display: flex;
    justify-content: center;
}

.selection-boxes {
    font-size: large;
    margin: 20px;
    width: 250px;
    height: 40px;
    border: 1px solid lightgray;
    margin-left: 10px;
    border-radius: 12px;
}

#regras_atuais {
    font-size: x-large;
    background-color: white;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
    border: 5px solid white;
    border-radius: 12px;
    height: 785px;
}

.tabelaRegras {
    max-height: 650px;
    overflow-y: auto;
}

.tabelaRegras>table {
    margin-left: 0px;
    width: 100%;
}

.tabelaRegras>table>thead>tr>th:nth-child(2),
th:nth-child(3),
th:nth-child(4),
th:nth-child(5),
th:nth-child(6),
th:nth-child(7),
th:nth-child(8),
th:nth-child(9) {

    color: #000;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 7px;
    border-collapse: collapse;
    font-weight: bold;

}

.tabelaRegras>table>tbody>tr>td {
    margin: 12px;
    text-align: center;
}

.tabelaRegras>table {
    border-collapse: separate;
    border-spacing: 25px;
    /*Altere o valor conforme necessário*/
}

.tabelaRegras>table>tbody>tr>td>input {
    width: 20px;
    height: 20px;
}

/* Botoes */

#botoes_inferiores {
    display: flex;
    position: absolute;
    right: 10px;
    bottom: 30px;
}

.botao_ativo {
    display: flex;
    background-color: #304c7c;
    padding: 7px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #888888;
    margin: 0px 15px 0px 15px;
    text-align: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.botao_inativo {
    display: flex;
    background-color: lightgray;
    padding: 7px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #888888;
    margin: 0px 15px 0px 15px;
    text-align: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

#pag_parametrizar {
    display: none;
}

/* Parametrizar */

#conteudo_parametrizar {
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: 1;
    gap: 10px;
    margin: 10px;
    border: 10px solid white;
    border-radius: 12px;
    height: 860px;
}

.dadosParam_filtros {
    display: flex;

}

.dadosParam_filtros>select {
    position: absolute;
    left: 630px;
}

.dadosParam_filtros>label {
    color: #547cbc;
    font-weight: bold;
    margin: 30px 10px;
}

/* Racional */
#racional_filtros {
    max-height: 670px;
    overflow-y: auto;

}

.cada_filtro {
    display: flex;
}

.Salvar {
    position: absolute;
    right: 10px;
    bottom: 20px
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: sans-serif;
}


header {
    background-color: #081c4c;
    display: flex;
    align-items: center;
    padding: 0.2rem 0.5rem;
    position: sticky;
    top: 0px;
    z-index: 2;
    margin-bottom: .375rem;
}

/* CABEÇARIO */
.cabecario {
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
    color: gray;
}

.cabecario ul {
    display: flex;
    width: 100%;
    justify-content: left;
    /* gap: .5rem; */
}

.cabecario .vazio {
    width: .5rem;
    padding: 0;
    background-color: #f5f5f5;
    align-self: flex-end;
}

.cabecario li {
    width: 15%;
    padding: 0;
    margin-top: 6%;
    display: flex;
    justify-content: center;
    padding: .5rem 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 2px solid gray;
    background-color: #fff;
}

.cabecario li a {
    color: #808080;
    display: flex;
    justify-content: center;
    text-decoration: none;
}


.cabecario .active {
    color: #000;
    background-color: #d3d3d3;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: none;
}

/* Sub menu */
.subCabecario {
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
    color: gray;
}

.subCabecario ul {
    display: flex;
    width: 100%;
    justify-content: left;
    /* gap: .5rem; */
}

.subCabecario ul {
    display: flex;
    width: 100%;
    justify-content: left;
    /* gap: .5rem; */
}

.subCabecario .vazio {
    width: .5rem;
    padding: 0;
    background-color: gray;
    align-self: flex-end;
}

.subCabecario li {
    width: 15%;
    padding: 0;
    margin-top: 0.5%;
    display: flex;
    justify-content: center;
    padding: .5rem 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 2px solid gray;
    /* background-color: #fff; */
}

.subCabecario li a {
    color: #2c4c7c;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.subCabecario .active {
    background-color: #d3d3d3;
    /* border-top: 2px solid gray; */
    /* border-left: 2px solid gray; */
    /* border-right: 2px solid gray; */
    border-bottom: 4px solid #2c4c7c;
}

