.infoTransacFull{
    position: absolute;
    top: 180px;
    width: 1880px;
    height: 870px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
}

.infoTransacFull .parteCima{
    width: 100%;
    height: 40%;
    display: flex;
    gap: 20px;
}

.infoTransacFull .parteCima > div{
    border-radius: 10px;
    background-color: white;
}

.infoTransacFull .parteCima .card1{
    width: 30%;
}

.infoTransacFull .parteCima .card1 .conteudo{
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    gap: 50px;
}

.infoTransacFull .parteCima .card1 .conteudo p, .infoTransacFull .parteCima .card1 .conteudo label{
    font-weight: bold;
}

.infoTransacFull .parteCima .card1 .conteudo .col2 .linhaInputsData{
    display: flex;
    gap: 10px;
    align-items: center;
}

.infoTransacFull .parteCima .card1 .conteudo .col2 .linhaInputsData input{
    font-size: 18px;
    border: 1px solid lightgray;
    padding: 2px 5px 2px 5px;
}

.infoTransacFull .parteCima .card1 .conteudo .col1 p{
    margin-bottom: 20px;
}

.infoTransacFull .parteCima .card1 .conteudo .col2 > div{
    margin-bottom: 20px;
}

.infoTransacFull .parteCima .card1 .conteudo .col2 .linhaChk{
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
}

.infoTransacFull .parteCima .card1 .conteudo .col2 .linhaChk input{
    width: 20px;
    height: 20px;
}

.infoTransacFull .parteCima .card1 .botao{
    display: flex;
    background-color: #304c7c;
    padding: 7px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #888888;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
    gap: 5px;
    height: 35px;
    margin-left: 399px;
    margin-top: -9px;
}

.infoTransacFull .parteCima .card2{
    width: 50%;
}

.infoTransacFull .parteCima .card3{
    width: 19%;
}

.infoTransacFull .parteCima .card3 .conteudo {
    display: flex;
    justify-content: center;
}

.infoTransacFull .parteCima .card3 .imgRedeTransac{
    width: 250px;
    cursor: pointer;
}


.infoTransacFull .parteBaixo{
    width: 100%;
    height: 60%;
}

.infoTransacFull .parteBaixo .card1{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
}

.infoTransacFull .parteBaixo .card1 .botao{
    display: flex;
    background-color: #304c7c;
    padding: 7px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #888888;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
    gap: 5px;
    height: 35px;
    margin-left: 1620px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.infoTransacFull .parteBaixo .card1 .botaoVoltar{
  display: flex;
    background-color: #304c7c;
    padding: 7px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #888888;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 118px;
    gap: 5px;
    height: 37px;
    margin-left: 1747px;
    margin-top: -54px;
    margin-bottom: -10px;
    position: absolute;
}

/* ----------Tabelas 5 Colunas ------------------- */

.tableFixHead10Col {
    overflow-y: auto; 
    height: 74%;
    margin-top: 20px;
    padding-left: 20px;
  }
  
  .tableFixHead10Col thead th {
    font-size: 18px;
    position: sticky; 
    top: 0px;
    padding: 0.5rem 0.5rem;
  }
  
  .table10Col {
    width:100%;
    border-spacing: 5px;
    font-size: 18px;
  }
  
  
  
  .table10Col td{
    padding: 0.6rem 0.5rem;
  }
  
  .table10Col th:nth-child(1), .table10Col td:nth-child(1) {
    width: 5%;
  }
  
  .table10Col th:nth-child(2), .table10Col td:nth-child(2) {
    width: 2%;
  }
  
  .table10Col th:nth-child(3), .table10Col td:nth-child(3) {
    width: 2%;
  }
  .table10Col th:nth-child(4), .table10Col td:nth-child(4) {
    width: 2%;
  }
  .table10Col th:nth-child(5), .table10Col td:nth-child(5) {
    width: 3%;
  }

  .table10Col th:nth-child(6), .table10Col td:nth-child(6) {
    width: 2%;
  }

  .table10Col th:nth-child(7), .table10Col td:nth-child(7) {
    width: 5%;
  }

  .table10Col th:nth-child(8), .table10Col td:nth-child(8) {
    width: 4%;
  }

  .table10Col th:nth-child(9), .table10Col td:nth-child(9) {
    width: 5%;
  }

  .table10Col th:nth-child(10), .table10Col td:nth-child(10) {
    width: 1.5%;
  }

  .table10Col th, .table10Col td {
    border: 1px solid lightgray;
    border-spacing: 30px;
  }
  
  
  .table10Col th {
    background-color: #D9D9D9;
    color: black;
    font-weight: bold;
    text-align: start;
  }

  .table10Col th:nth-child(10){
    background-color: white;
    border: none;
  }

  .table10Col td:nth-child(10){
    border: none;
  }

  .table10Col td:nth-child(10) input{
    width: 30px;
    height: 30px;
  }


  .conteinerGrafico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 260px;
  }

  #volumeTransacoes{
    max-width: 900px;
    max-height: 230px;
  }

  #legenda-volume-transacoes{
    display: flex;
    gap: 20px;
  }


  .alinhamento-icone-palavra{
    display: flex;
    align-items: center;
  }
  
  a{
    text-decoration: none;
  }