.redeTransacFull{
    position: absolute;
    top: 170px;
    width: 1850px;
    background-color: white;
    height: 900px;
    left: 35px;
    border-radius: 10px;
}
/* .redeTransacFull select{
    position: absolute;
    top: 40px;
    width: 180px;
    background-color: white;
    height: 20px;
    left: 195px;
    border-radius: 10px;
} */

#grafRedeTransac {
    width: 100%;
    height: 92%;
  }

#legendaRedeTransac{
    position: absolute;
    left: 1640px;
    top: 600px;
    width: 210px;
    height: 300px;
    /* border: 1px solid black; */
    background-color: rgba(255, 255, 255, 0.753);
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
}

#legendaRedeTransac .legendaLinha .itemLegendaLinha{
    display: flex;
    align-items: center;
    gap: 10px;
}

#legendaRedeTransac .legendaLinha{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#legendaRedeTransac .legendaLinha .itemLegendaLinha .linhaTransAlert{
    width: 50px;
    height: 10px;
    background-color: #FF0000;
}

#legendaRedeTransac .legendaLinha .itemLegendaLinha .linhaOutrasTrans{
    width: 50px;
    height: 10px;
    background-color: #2E75B6;
}

#legendaRedeTransac .legendaLinha .itemLegendaLinha .linhaOpcEsco{
    width: 50px;
    height: 10px;
    background-color: #000;
}

#legendaRedeTransac .legendaLinha .itemLegendaLinha .linhaOutrasInfos{
    width: 50px;
    height: 10px;
    background-color: #AFABAB;
}

#legendaRedeTransac .separador{
    margin-top: 10px;
}   

#legendaRedeTransac .legendaCliente .tituloLegendaCliente{
    margin-top: 10px;
    margin-bottom: 10px;
}

#legendaRedeTransac .legendaCliente .todosTiposClientes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#legendaRedeTransac .legendaCliente .todosTiposClientes .cliente{
    display: flex;
    align-items: center;
    gap: 10px
}

#legendaRedeTransac .legendaCliente .todosTiposClientes .cliente .riscoMuitoAlto{
    width: 20px;
    height: 10px;
    background-color: #FF9797;
}

#legendaRedeTransac .legendaCliente .todosTiposClientes .cliente .riscoAlto{
    width: 20px;
    height: 10px;
    background-color: #FFC271;
}

#legendaRedeTransac .legendaCliente .todosTiposClientes .cliente .riscoModerado{
    width: 20px;
    height: 10px;
    background-color: #FFFF93;
}

#legendaRedeTransac .legendaCliente .todosTiposClientes .cliente .riscoBaixo{
    width: 20px;
    height: 10px;
    background-color: #92D050;
}

#legendaRedeTransac .legendaCliente .todosTiposClientes .cliente .riscoMuitoBaixo{
    width: 20px;
    height: 10px;
    background-color: #81FF84;
}

#legendaRedeTransac .legendaCliente .todosTiposClientes .cliente .riscoNaoCliente{
    width: 20px;
    height: 10px;
    background-color: #A6A6A6;
}

.redeTransacFull .botao{
    display: flex;
    background-color: #304c7c;
    padding: 7px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #888888;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    width: 110px;
    gap: 5px;
    font-size: 18px;
    text-decoration: none;
}

.redeTransacFull > a{
    text-decoration: none;
    position: fixed;
    margin-top: -57px;
    margin-left: 1719px;
}


.filtroValor{
    position: absolute;
    left: 300px;
    top: 30px;
}
.filtroRisco{
    position: absolute;
    left: 970px;
    top: 30px;
    /* width: 300px; */
    
}
.filtroProdutos{
    position: absolute;
    left: 1200px;
    top: 30px;
    /* width: 300px; */
    
}
.filtroData1{
    position: absolute;
    left: 600px;
    top: 30px;
}
.filtroData2{
    position: absolute;
    left: 775px;
    top: 30px;
}
.filtroValor label {
    font-weight: bold;
    font-size: 18px;
}
.filtroRisco label {
    font-weight: bold;
    font-size: 18px;
}
.filtroProdutos label {
    font-weight: bold;
    font-size: 18px;
}
.filtroData1 label {
    font-weight: bold;
    font-size: 18px;
}
.filtroData2 label {
    font-weight: bold;
    font-size: 18px;
    padding-right: 5px;
}
.redeTransacFull .botao2{
    position: absolute;
    display: flex;
    background-color: #304c7c;
    padding: 7px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #888888;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    width: 110px;
    gap: 5px;
    font-size: 18px;
    text-decoration: none;
    right: 20px;
}
