.relatFalsPosFull{
    position: absolute;
    top: 180px;
    width: 1870px;
    left: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
}

.relatFalsPosFull *{
    font-size: 20px;
}

.titulos {
    font-size: 16px;
}

.titulos > h2 {
    margin-bottom: 0rem;
}

.relatFalsPosFull .conteudo{
    margin-top: 20px;
}

.espacoid{
    display: flex;
    gap: 100px;
    align-items: center;    
}

.blocoBordaNumID{
    border: 1px solid lightgray;
    width: 150px;
    text-align: center;
    padding: 2px 0px;
}

.tituloRelatorio{
    padding: 0px;
    margin-top: 40px;
}

.paragrafosRelatorio{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
}

.paragrafosRelatorio > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.paragrafosRelatorio p{
    text-align: justify;
    line-height: 1.6;
}

.relatFalsPosFull .botao{
    display: flex;
    background-color: #304c7c;
    padding: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #888888;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    gap: 10px;
    font-size: 18px;
    text-decoration: none;
}

.relatFalsPosFull > a{
    text-decoration: none;
    position: absolute;
    margin-top: -81px;
    margin-left: 1726px;
}

.botoesEditarSalvar{
    display: flex;
    position: absolute;
    margin-top: -123px;
    margin-left: 1709px;
    gap: 20px;
}

.botoesEditarSalvar button{
    border: none;
    cursor: pointer;
    background-color: white;
}

.conteinerBotao{
    display: flex;
    justify-content: end;
    margin-top: -20px;
}

.botaoComunicar{
    display: flex;
    background-color: #304c7c;
    padding: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #888888;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    gap: 10px;
    font-size: 18px;
    text-decoration: none;
}

.divEditavel{
    padding: 20px;
}