.comunicacaoFull{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 170px;
    left: 30px;
    width: 1850px;
    gap: 20px;
    height: 900px;
}

.comunicacaoFull *{
    font-size: 16px;
}

.titulos > h2 {
    font-family: Calibri, sans-serif;
    font-size: 1.3em;
    color: #000;
    font-weight: 700;
    margin-bottom: 0rem;
}

.comunicacaoFull > div{
    height: 100%;
    display: flex;
    gap: 20px;
}

.comunicacaoFull .blocoSuperior > div{
    background-color: white;
    height: 80%;
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
}

.comunicacaoFull .blocoInferior > div{
    margin-top: -80px;
    background-color: white;
    height: 114%;
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
}

.comunicacaoFull .blocoSuperior .card1 .conteudo{
    padding: 0px;
}

.comunicacaoFull select{
    padding: 1px;
    border: 1px solid lightgray;
}

.comunicacaoFull .blocoSuperior .card1 select{
    padding: 2px;
    border: 1px solid lightgray;
    margin-bottom: 30px;
}

.comunicacaoFull .blocoSuperior .card1 .conteinerContadores{
    display: flex;
    justify-content: space-between;
}

.comunicacaoFull .blocoSuperior .card1 .conteinerContadores .contador{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 2px solid lightgray;
    width: 30%;
    height: 130px;
    border-radius: 10px;
}

.comunicacaoFull .blocoSuperior .card1 .conteinerContadores .contador .elem1{
    font-size: 35px;
}

.comunicacaoFull .blocoSuperior .card1 .conteinerContadores .contador .elem2{
    color: green;
}


.comunicacaoFull .conteudo{
    padding: 0px;
}

.comunicacaoFull .blocoSuperior .card2 .conteinerContadores{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.comunicacaoFull .blocoSuperior .card2 .conteinerContadores .contador{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 2px solid lightgray;
    width: 30%;
    height: 130px;
    border-radius: 10px;
}

.comunicacaoFull .blocoSuperior .card2 .conteinerContadores .contador .elem1{
    font-size: 35px;
}


.comunicacaoFull .blocoSuperior .card4 .conteudo{
    padding: 0px;
    margin-top: -5px;
}

.comunicacaoFull .blocoSuperior .card4 .conteinerSelects{
    display: flex;
    justify-content: space-between;
}

.comunicacaoFull .blocoSuperior .card4 select{
    width: 40%;
    padding: 2px;
    border: 1px solid lightgray;
    margin-bottom: 30px;
}

.comunicacaoFull .blocoSuperior .card4 .conteinerContadores{
    display: flex;
    justify-content: space-between;
}

.comunicacaoFull .blocoSuperior .card4 .conteinerContadores .contador{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 2px solid lightgray;
    width: 30%;
    height: 130px;
    border-radius: 10px;
}

.comunicacaoFull .blocoSuperior .card4 .conteinerContadores .contador .elem1{
    font-size: 35px;
}



.comunicacaoFull .blocoSuperior .card3 .conteudo{
    padding: 0px;
    margin-top: -5px
}

.comunicacaoFull .blocoSuperior .card3 .conteinerContadores{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 150px;
}

.comunicacaoFull .blocoSuperior .card3 .conteinerContadores .contador{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 2px solid lightgray;
    width: 100%;
    height: 90px;
    border-radius: 10px;
}

.comunicacaoFull .blocoSuperior .card3 .conteinerContadores .contador .elem1{
    font-size: 35px;
}

.comunicacaoFull .blocoSuperior .card3 .conteudo .imagemCadeado{
    position: absolute;
    width: 100px;
    margin-top: 50px;
}

.comunicacaoFull .blocoInferior .card2 .conteudo select{
    margin-left: 700px;
    width: 170px;
}

.comunicacaoFull .blocoInferior .card1 .controlesGraf{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    margin-top: 10px;
    align-items: center;
}

.comunicacaoFull .blocoInferior .card1 .controlesGraf select{
    width: 150px;
}

.comunicacaoFull .blocoInferior .card1 .controlesGraf .blocoCheckBox{
    display: flex;
    gap: 10px;
    align-items: center;
}

.comunicacaoFull .blocoInferior .card1 .controlesGraf .blocoCheckBox input{
    width: 22px;
    height: 22px;
}

.comunicacaoFull .blocoInferior .card1 .conteinerGraf{
    width: 98%;
    margin-left: 10px;
}
