body{
    font-family: sans-serif;
}
.cardClassificacao{
    width: 98.5%;
    height: 47%;
    background-color: white;
    border: 1px solid white;
    border-radius: 12px;
    margin: 19.2px;
    position: fixed;
    top: 13vh;
}

h4{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 26px;
}

h3{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 52px;
}

.clientes{
    position: fixed;
    left: 145px;
}
.fornecedores{
    position: fixed;
    left: 475px;
}
.parceiros{
    position: fixed;
    left: 900px;
}
.funcionarios{
    position: fixed;
    left: 1275px;
}
.produtos{
    position: fixed;
    left: 1650px;
}

.clientes2{
    position: fixed;
    left: 145px;
    top: 375px;
}
.fornecedores2{
    position: fixed;
    left: 515px;
    top: 375px;
}
.parceiros2{
    position: fixed;
    left: 920px;
    top: 375px;
}
.funcionarios2{
    position: fixed;
    left: 1315px;
    top: 375px;
}
.produtos2{
    position: fixed;
    left: 1670px;
    top: 375px;
}

.cardDistribuicao{
    width: 60.5%;
    height: 37%;
    background-color: white;
    border: 1px solid white;
    border-radius: 12px;
    margin: 20px;
    position: fixed;
    top: 61vh;
}

.cardHistorico{
    width: 37.5%;
    height: 37%;
    background-color: white;
    border: 1px solid white;
    border-radius: 12px;
    margin: 20px;
    position: fixed;
    top: 61vh;
    left: 61%;
}
.titulos {
    padding: 10px;
}
.titulos > h2 {
    color: #000;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 4px;
}
.titulos > h5 {
    color: #c2c2c2;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#doughnutChart{
    max-height: 270px;
    max-width: 320px;
    position: fixed;
    top: 265px;
    left: 35px;

}
#doughnutChart2{
    max-height: 270px;
    max-width: 320px;
    position: fixed;
    left: 400px;
    top: 265px;
}
#doughnutChart3{
    max-height: 270px;
    max-width: 320px;
    position: fixed;
    left: 800px;
    top: 265px;
}
#doughnutChart4{
    max-height: 270px;
    max-width: 320px;
    position: fixed;
    left: 1200px;
    top: 265px;
}
#doughnutChart5{
    max-height: 270px;
    max-width: 320px;
    position: fixed;
    left: 1550px;
    top: 265px;

}

select{
    
    margin: 5px;
    width: 190px;
    height: 30px;
    border: 1px solid lightgray;
}

table{
    width: 98%;
    height: 280px;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    border: 5px solid white;
    margin: 5px;
}

td{
    border: white 3px solid;
}

.headerTable{
    background-color: white;
    color: lightgray;
    border: 1px solid lightgray;
    text-align: right;
    font-weight: normal;
}

.riscoMuitoAlto{
    background-color: #fc9494;
    border: white 3px solid;
    text-align: center;
    font-weight: bold;
}
.riscoAlto{
    background-color: #fcc474;
    border: white 3px solid;
    text-align: center;
    font-weight: bold;

}

.riscoModerado{
    background-color: #fcfc94;
    border: white 3px solid;
    text-align: center;
    font-weight: bold;

}
.riscoBaixo{
    background-color: #94d454;
    border: white 3px solid;
    text-align: center;
    font-weight: bold;

}
.riscoMuitoBaixo{
    background-color: #84fc84;
    border: white 3px solid;
    text-align: center;
    font-weight: bold;

}

label{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 17.6px;
    position: fixed;
    right: 500px;
}

input{
    height: 30px;
    width: 350px;
}

.camposInput1{
    position: fixed;
    right: 400px;
}
.camposInput2{
    position: fixed;
    right: 400px;
    bottom: 500px;
}
.camposInput3{
    position: fixed;
    right: 400px;
}
.camposInput4{
    position: fixed;
    right: 400px;
}
.camposInput5{
    position: fixed;
    right: 400px;
}