body{
    font-family: sans-serif;
}
.cardClassificacao{
    width: 98.5%;
    height: 47%;
    background-color: white;
    border: 1px solid white;
    border-radius: 12px;
    margin: 19.2px;
    position: fixed;
    top: 13vh;
    padding: 1rem;
}

h4{
    font-family: sans-serif;
    /* font-weight: bold; */
    font-size: 20px;
}

h3{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 42px;
}

.clientes{
    position: fixed;
    left: 125px;
}
.fornecedores{
    position: fixed;
    left: 475px;
}
.parceiros{
    position: fixed;
    left: 900px;
}
.funcionarios{
    position: fixed;
    left: 1275px;
}
.produtos{
    position: fixed;
    left: 1650px;
}

.clientes2{
    position: fixed;
    left: 135px;
    top: 405px;
}
.fornecedores2{
    position: fixed;
    left: 505px;
    top: 405px;
}
.parceiros2{
    position: fixed;
    left: 910px;
    top: 405px;
}
.funcionarios2{
    position: fixed;
    left: 1305px;
    top: 405px;
}
.produtos2{
    position: fixed;
    left: 1660px;
    top: 405px;
}

.clientes3{
    position: fixed;
    left: 105px;
    top: 580px;
}
.fornecedores3{
    position: fixed;
    left: 465px;
    top: 580px;
}
.parceiros3{
    position: fixed;
    left: 865px;
    top: 580px;
}
.funcionarios3{
    position: fixed;
    left: 1270px;
    top: 580px;
}
.produtos3{
    position: fixed;
    left: 1625px;
    top: 580px;
}

.cardDistribuicao{
    width: 60.5%;
    height: 36%;
    background-color: white;
    border: 1px solid white;
    border-radius: 12px;
    margin: 20px;
    position: fixed;
    top: 61vh;
    padding: 1rem;
}

.cardHistorico{
    width: 37.5%;
    height: 36%;
    background-color: white;
    border: 1px solid white;
    border-radius: 12px;
    margin: 20px;
    position: fixed;
    top: 61vh;
    left: 61%;
    padding: 1rem;
}
.titulos {
    padding: 0px;
}
.titulos > h2 {
    color: #000;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 4px;
}
.titulos > h5 {
    color: #c2c2c2;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#doughnutChart{
    max-height: 270px;
    max-width: 320px;
    position: fixed;
    top: 295px;
    left: 15px;

}
#doughnutChart2{
    max-height: 270px;
    max-width: 320px;
    position: fixed;
    left: 380px;
    top: 295px;
}
#doughnutChart3{
    max-height: 270px;
    max-width: 320px;
    position: fixed;
    left: 780px;
    top: 295px;
}
#doughnutChart4{
    max-height: 270px;
    max-width: 320px;
    position: fixed;
    left: 1180px;
    top: 295px;
}
#doughnutChart5{
    max-height: 270px;
    max-width: 320px;
    position: fixed;
    left: 1530px;
    top: 295px;

}

select{
    
    margin: 5px;
    width: 190px;
    height: 30px;
    border: 1px solid lightgray;
}

table{
    width: 98%;
    height: 270px;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    border: 5px solid white;
    margin: 5px;
}

td{
    border: white 3px solid;
    vertical-align: middle;
}

.headerTable{
    background-color: white;
    color: lightgray;
    border: 1px solid lightgray;
    font-weight: normal;
    width: 230px;
    height: 40px;
}

.riscoMuitoAlto{
    background-color: #fc9494;
    border: white 3px solid;
    text-align: center;
    font-weight: bold;
    
}
.riscoAlto{
    background-color: #fcc474;
    border: white 3px solid;
    text-align: center;
    font-weight: bold;

}

.riscoModerado{
    background-color: #fcfc94;
    border: white 3px solid;
    text-align: center;
    font-weight: bold;

}
.riscoBaixo{
    background-color: #94d454;
    border: white 3px solid;
    text-align: center;
    font-weight: bold;

}
.riscoMuitoBaixo{
    background-color: #84fc84;
    border: white 3px solid;
    text-align: center;
    font-weight: bold;

}
.naoAplica{
    background-color: lightgray;
    border: white 3px solid;
    text-align: center;
    font-weight: bold;

}

label{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 17.6px;
    position: fixed;
    right: 500px;
}

input{
    height: 30px;
    width: 350px;
    margin: 10px;
}

.camposLabel1{
    position: fixed;
    right: 500px;
    bottom: 285px;
}
.camposLabel2{
    position: fixed;
    right: 500px;
    bottom: 245px;
}
.camposLabel3{
    position: fixed;
    right: 500px;
    bottom: 205px;
}
.camposLabel4{
    position: fixed;
    right: 500px;
    bottom: 115px;
}
.camposInput1{
    position: fixed;
    right: 130px;
    bottom: 270px;
}
.camposInput2{
    position: fixed;
    right: 130px;
    bottom: 230px;
}
.camposInput3{
    position: fixed;
    right: 130px;
    bottom: 190px;
}
.camposInput4{
    position: fixed;
    right: 130px;
    bottom: 150px;
}
.camposInput5{
    position: fixed;
    right: 130px;
    bottom: 100px;
}

.botaoPesquisa{
    display: flex;
    background-color: #304c7c;
    padding: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #888888;
    right: 20px;
    bottom: 20px;
    position: fixed;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 18px;
    gap: 10px;
}

.legenda{
    position: fixed;
    top: 620px;
    left: 350px;
}

#seletorTabela{
    position: absolute;
    left: 950px;
    bottom: 325px;

}