.monitoramentoFull{
    margin: 25px 20px 0px 20px;
    height: 880px;
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.ladoEsquerdo{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ladoEsquerdo > div{
    background-color: white;
    border-radius: 10px;
    height: 100%;
}

.ladoEsquerdo .card1 .conteudo{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0px 30px;
}

.ladoEsquerdo .card1 .conteudo .bloco{
    display: flex;
    border: 3px solid lightgray;
    border-radius: 10px;
    width: 250px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
}

.ladoEsquerdo .card1 .conteudo .bloco > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.ladoEsquerdo .card1 .conteudo .bloco > div .indNum{
    font-size: 50px;
    font-weight: bold;
}

.ladoEsquerdo .card1 .conteudo .bloco > div .legenda{
    font-weight: bold;
}

.ladoEsquerdo .card2 .conteudo{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0px 30px;
}

.ladoEsquerdo .card2 .conteudo .bloco{
    display: flex;
    flex-direction: column;
    border: 3px solid lightgray;
    width: 250px;
    padding: 15px;
    padding-top: 10px;
    border-radius: 10px;
    align-items: center;
    gap: 5px;
}

.ladoEsquerdo .card2 .conteudo .bloco > div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.ladoEsquerdo .card2 .conteudo .bloco > div .indNum{
    font-weight: bold;
    font-size: 50px;
}

.ladoEsquerdo .card2 .conteudo .bloco  .legenda{
    font-weight: bold;
}

.ladoEsquerdo .card2 .conteudo .bloco2 div{
    margin-top: 7px;
}

.ladoEsquerdo .card2 .conteudo .bloco2{
    gap: 14px;
}

.ladoEsquerdo .card3 .conteudo{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0px 30px;
}

.ladoEsquerdo .card3 .conteudo .bloco1{
    border: 3px solid lightgray;
    border-radius: 10px;
    display: flex;
    width: 175px;
    font-weight: bold;
    align-items: center;
    padding: 0px 10px;
}

.ladoEsquerdo .card3 .conteudo .bloco1 > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 23px;
    gap: 13px;
}

.ladoEsquerdo .card3 .conteudo .bloco1 > div .indNum{
    font-size: 50px;
}

.ladoEsquerdo .card3 .conteudo .bloco2{
    border: 3px solid lightgray;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    width: 350px;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

.ladoEsquerdo .card3 .conteudo .bloco2 > div{
    display: flex;
    gap: 40px;
}

.ladoEsquerdo .card3 .conteudo .bloco2 > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.ladoEsquerdo .card3 .conteudo .bloco2 > div > div > div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.ladoEsquerdo .card3 .conteudo .bloco2 > div > div > div p{
    font-size: 50px;
}

.ladoDireito{
    background-color: white;
    border-radius: 10px;
    width: 65%;
}

.conteinerCardsAlerta2{
    padding: 20px;
    padding-left: 40px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    height: 70%;
    overflow-y: auto;
}

.conteinerCardsAlerta2 .cardAlerta{
    display: flex;
    flex-direction: column;
    border: lightgray 3px solid;
    width: 250px;
    height: 217px;
    font-size: 18px;
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
    gap: 10px;
}

.conteinerCardsAlerta2 .cardAlerta a{
    margin-top: 20px;
    margin-bottom: -2px;
    text-decoration: none;
    margin-left: -22px;
}

.conteinerCardsAlerta2 .cardAlerta a button{
    background-color: rgb(43, 43, 43);
    border: none;
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-radius: 0px 0px 10px 10px;
    width: 248px;
    justify-content: space-between;
    align-items: center;
}

.conteinerCardsAlerta2 .cardAlerta a button p{
    font-size: 16px;
    color: white;
}

.conteinerCardsAlerta2 .cardAlerta a button img{
    width: 20px;
}

.ElemBold{
    font-weight: bold;
}

.conteinerInputs{
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.conteinerInputs p, .conteinerInputs label{
    font-weight: bold;
}

.conteinerInputs *{
    font-size: 18px;
}

.conteinerInputs input, .conteinerInputs select{
    padding: 2px 5px;
    border: 1px solid lightgray;
}

.conteinerInputs select{
    width: 150px;
}

.conteinerInputs > div {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}

.conteinerInputs > div > div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.conteinerInputs .blocoInputId input{
    width: 100px;
}

.conteinerInputs .blocoInputData > div{
    display: flex;
    align-items: center;
    gap: 23px;
}

.botaoPesquisa2{
    display: flex;
    background-color: #304c7c;
    padding: 7px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #888888;
    position: fixed;
    text-align: center;
    align-items: center;
    color: white;
    font-weight: bold;
    gap: 5px;
    margin-left: 974px;
    margin-top: -45px;
}