body{
    font-family: sans-serif;
}

.pagina {
    display: grid;
    grid-template-columns: 622px 622px 622px;
    /* grid-template-rows: 2; */
    gap: 10px;
    margin-top: 1%;
    padding-right: 3.5rem;
    padding-left: 0.8rem;
}
        

.item1, .item2, .item3, .item4, .item5{
    background-color: white;
    border-radius: 12px;
    border: 1px solid #dcdcdc;
    
}

.item1, .item2, .item3{
    height: 210px;
}

.item4{
    grid-column: span 2;
}


.conteudo_contorno_cinza > div > img{
    width: 50px;
    height: 50px;
    margin-left: 40px;
}

.icones_contorno{
    margin-top: 31px;
    height: 110px;
    margin-left: 10px;
}

.contorno_cinza{
    margin: 0px 60px 0px 60px;
    width: 175px;
    height: 100px;
    padding-left: 2.5px;
}

.item6{
    grid-column: span 2;
    background-color: white;
    border-radius: 12px;
    border: 1px solid #dcdcdc;
}

.item7{
    grid-column: span 3;
    background-color: white;
    border-radius: 12px;
    border: 1px solid #dcdcdc;
}

.numero_contorno, .palavra_contorno, .conteudo_contorno_cinza{
    width: 90px;
    
    justify-content: center;
    text-align: center;
}

.numero_contorno {
    height: 50px;
}

.item4{
    height: 678px;
}

#scroll-content{
    margin-top: 30px;
    margin-right: 10px;
    max-height: 560px;
    overflow-y: auto;
}

.item-list{
    margin:10px 0px 10px 20px;
    font-size: 17.6px;
    display: flex;
    border: 2px solid #dcdcdc;
    width: fit-content;
}

.item-list img{
    margin-left: 330px;
}

.item5{
    font-size: 1.1em;
    font-family: sans-serif;
}


#filtro-container{
    background-color: #dcdcdc; 
    border: 1px solid rgb(192, 192, 192); 
    width: 345px; 
    margin-left: 120px
    
}

.filtros{
    display: flex;
    margin: 40px 0px;
}

.filtros label{
    font-weight: bold;
}

.filtros > input{
    position: absolute;
    right: 200px;
    width: 20px;
    height: 20px;
}

.filtros-input {
    display: flex;
    font-size: 0.9em;
    font-family: sans-serif;
    font-weight: bold;
    margin: 20px 0px 10px 10px;
}

.filtros-input input{
    border: 1px solid #dcdcdc;
    position: absolute;
    right: 300px;
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
}

.filtros-input select{
    border: 1px solid #dcdcdc;
    position: absolute;
    right: 300px;
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
}

.botaoPesquisa{
    display: flex;
    background-color: #304c7c;
    padding: 7px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #888888;
    right: 30px;
    bottom: 20px;
    position: fixed;
    text-align: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.conteinerCardsAlerta{
    margin-top: 50px;
    padding: 20px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    height: 80%;
    overflow-y: auto;
}

.conteinerCardsAlerta .cardAlerta{
    display: flex;
    flex-direction: column;
    border: lightgray 3px solid;
    width: 250px;
    height: 217px;
    font-size: 18px;
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
    gap: 10px;
}

.conteinerCardsAlerta .cardAlerta a{
    margin-top: 20px;
    margin-bottom: -2px;
    text-decoration: none;
    margin-left: -22px;
}

.conteinerCardsAlerta .cardAlerta a button{
    background-color: rgb(43, 43, 43);
    border: none;
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-radius: 0px 0px 10px 10px;
    width: 248px;
    justify-content: space-between;
    align-items: center;
}

.conteinerCardsAlerta .cardAlerta a button p{
    font-size: 16px;
    color: white;
}

.conteinerCardsAlerta .cardAlerta a button img{
    width: 20px;
}

.ElemBold{
    font-weight: bold;
}

.botaoAbrirTodos{
    display: flex;
    background-color: #304c7c;
    padding: 7px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #888888;
    position: fixed;
    text-align: center;
    align-items: center;
    color: white;
    font-weight: bold;
    height: 43px;
    margin-left: 1131px;
    margin-top: -5px;
}