* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: sans-serif;
 }


header {
    background-color: #081c4c;
    display: flex;
    align-items: center;
    padding: 0.2rem 0.5rem;
    position: sticky;
    top: 0px;
    z-index: 2;
    margin-bottom: .375rem;
}

/* CABEÇARIO */
.cabecario {
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
    color: gray;
}
 
.cabecario  ul{
    display: flex;
    width: 100%;
    justify-content: left;
    /* gap: .5rem; */
}
 
.cabecario .vazio {
    width: .5rem;
    padding: 0;
    background-color: #f5f5f5;
    align-self: flex-end;
}
 
.cabecario  li{
    width: 15%;
    padding: 0;
    margin-top: 6%;
    display: flex;
    justify-content: center;
    padding: .5rem 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 2px solid gray;
    background-color: #fff;
}
.cabecario li a{
    color: #808080;
    display: flex;
    justify-content: center;
    text-decoration: none;
}


.cabecario .active {
    color: #000;
    background-color: #d3d3d3;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: none;
}

/* Sub menu */
.subCabecario {
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
    color: gray;
}
.subCabecario  ul{
    display: flex;
    width: 100%;
    justify-content: left;
    /* gap: .5rem; */
}

.subCabecario  ul{
    display: flex;
    width: 100%;
    justify-content: left;
    /* gap: .5rem; */
}
 
.subCabecario .vazio {
    width: .5rem;
    padding: 0;
    background-color: gray;
    align-self: flex-end;
}
 
.subCabecario  li{
    width: 15%;
    padding: 0;
    margin-top: 0.5%;
    display: flex;
    justify-content: center;
    padding: .5rem 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 2px solid gray;
    /* background-color: #fff; */
}
.subCabecario li a{
    color: #2c4c7c;
    display: flex;
    justify-content: center;
    text-decoration: none;  
}

.subCabecario .active {
    background-color: #d3d3d3;
    /* border-top: 2px solid gray; */
    /* border-left: 2px solid gray; */
    /* border-right: 2px solid gray; */
    border-bottom: 4px solid #2c4c7c;
}


