* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: Calibri, sans-serif;
    padding-bottom: 2rem;
}



 /* DASHBOARD */

header {
    background-color: #081c4c;
    display: flex;
    align-items: center;
    padding: 0.2rem 0.5rem;
    position: sticky;
    top: 0px;
    z-index: 2;
    margin-bottom: .375rem;
}

.cabecario {
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
    color: gray;
    /* margin-top: 120px; */
    margin-bottom: 1rem;
}

.cabecario  ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}

.cabecario .vazio {
    width: .5rem;
    padding: 0;
    background-color: #f5f5f5;
    align-self: flex-end;
}

.cabecario  li{
    width: 15%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: .5rem 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 2px solid gray;
}

.cabecario .active {
    color: #000;
    background-color: lightgray;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: none;
}

.cabecario a {
    text-decoration: none;
    color: gray;
}

.espacamento {
    background-color: #f5f5f5;
    height: 1rem;
    position: sticky;
    top: 51.4px;
    z-index: 1;
}


nav ul{
    display: flex;
    align-items: center;
}

nav li{
    background-color: #fff;
    padding: 0.5rem;
    margin-right: 0.938rem;
    border-radius: 5px;
}

nav li img {
    height: 1.25rem;
}

nav {
    margin-right: 2rem;
}

.desativado {
    background-color: #808080;
}

.filler {
    flex-grow: 1;
}

.perfil {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.foto {
    height: 1.2rem;
}

.perfil span {
    color: #fff;
    margin-left: 0.5rem;
    font-size: 1rem;
}

.perfil button {
    background-color: #fff;
    border: none;
    margin-left: 0.5rem;
    font-weight: 600;
    padding: 0.3rem 0.8rem;
}

.icone_back {
    height: 1.5rem;
    margin-right: 0.5rem;
}

#btn-voltar {
    padding: 0.4rem 1rem;
    font-weight: 600;
    background-color: #fff;
    border: none;
}

/* TITULOS */

h2 {
    font-size: 1.3em;
    color: #000;
    font-weight: 700;
    margin-bottom: 0.325rem
}

h3 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    color: 	#808080;
}

/* DASHBOARD */

#dashboard {
    padding: 0 1rem;
    padding-right: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    margin-top: 20px;
}

/* CARD */

.chartCard {
    background-color: #fff;
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem;
}

.headerCard {
    border-bottom: 1px solid lightgray;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.bodyCard {
    flex-grow: 1;
}

/* TABLE */

.table {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100;
    height: 15rem;
    overflow-y: scroll;
    gap: 0.313rem
}

.table li {
    display: flex;
}

.table > li:nth-child(1) {
    position: sticky;
    top: 0px;
}

.table_header {
    display: flex;
    width: 100%;
    font-size: 1.1em;
    color: #000;
    font-weight: 700;
    gap: 0.313rem;
}

.table_header li {
    padding: .5rem 1rem;
    background-color: #d9d9d9;
    border: 1px solid #c5c5c5;
    color: #2d2d2d;
}

.table_header li:nth-child(1) {
    width: 30%;
}   

.table_header li:nth-child(2) {
    width: 70%;
}

.table_row {
    display: flex;
    width: 100%;
    font-size: 1.1em;
    gap: 0.313rem
}

.table_row li{
    border: 1px solid #c5c5c5;
    padding: 0.5rem 1rem;
}

.table_row li:nth-child(1) {
    border-right: 1px solid #c5c5c5;
    width: 30%
}

.table_row li:nth-child(2) {
    border-left: 1px solid #c5c5c5;
    width: 70%
}

.atribuicao-manual{
    height: 100.45%;
}

.atribuicao-manual img {
    height: 20px;
}

.atribuicao-manual .table_row li:nth-child(2) {
    display: flex;
}

.atribuicao-manual .table_row li:nth-child(2) span {
   width: 95%;
   display: block;
   text-align: center;
}

.atribuicao-manual .table{
    width: 100%;
    height: 18.5rem;
    margin-top: -46px;
}

.atribuicao-manual .bodyCard{
    display: flex;
    align-items: center;
}
/* CARD ATRIBUICAO AUTOMATICA MANUTENCAO */

.atribuicao-automatica-manutencao .bodyCard{
    display: flex;
    flex-direction: column;
    gap: .375rem;
}

.atribuicao-automatica-manutencao select{
    padding: .5rem 1rem;
    width: fit-content;
    border: 1px solid lightgray;
}

.atribuicao-automatica-manutencao .table{
    height: 14.7rem;
}

.atribuicao-automatica-manutencao .table_header li:nth-child(1){
    width: 35%;
}
.atribuicao-automatica-manutencao .table_header li:nth-child(2){
    width: 50%;
}
.atribuicao-automatica-manutencao .table_header li:nth-child(3){
    width: 15%;
}

.atribuicao-automatica-manutencao .table_row li:nth-child(1){
    width: 35%;
}
.atribuicao-automatica-manutencao .table_row li:nth-child(2){
    width: 50%;
}
.atribuicao-automatica-manutencao .table_row li:nth-child(3){
    display: flex;
    justify-content: space-between;
    width: 15%;
    background-color: #081c4c;
    color: #fff;
}
.atribuicao-automatica-manutencao .table_row li:nth-child(3) img{
    height: 15px;
}

/* CARD ANÃLISES PENDENTES POR ANALISTA */

/* .analise-pendentes-analise{
    height: 95%;
} */
.analise-pendentes-analise .bodyCard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.analise-pendentes-analise .tamanho-grafico {
    width: 68%;
}

/* #grafico-analises-pendentes{
    max-width: 700px;
    max-height: 300px;
} */

.analise-pendentes-analise .quantidade {
    height: 100px;
}

.analise-pendentes-analise .minutos {
    height: 70px;
}

.analise-legenda {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.analise-legenda .bar {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.ilustracao-bar {
    width: 25px;
    height: 5px;
    background-color: rgb(9,41,104);
}

.analise-legenda .linha {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.ilustracao-linha {
    width: 25px;
    height: 2px;
    background-color: rgba(151,169,215,255);
}

/* CARD ABRIR TELA */

.tela-abrir {
    display: none;
}

.tela-abrir .table{
    width: 100%;
    height: fit-content;
    overflow-y: none;
}

/* .tela-abrir .table > li:nth-child(1){
    position: sticky;
    top: 163.16px;
    z-index: 1;
} */

.tela-abrir .headerCard{
    position: sticky;
    top: 67.4px;
    z-index: 1;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tela-abrir button{
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    background-color: #2e4a7e;
    color: #fff;
}

.tela-abrir .bodyCard{
    padding-top: 0;
}

.tela-abrir .espacamentoBodyCard{
    background-color: #fff;
    height: 1rem;
    position: sticky;
    top: 127.16px;
    z-index: 1;
}

.tela-abrir .table_header li:nth-child(1){
    width: 23%;
}
.tela-abrir .table_header li:nth-child(2){
    width: 32%;
}
.tela-abrir .table_header li:nth-child(3){
    width: 23%;
}
.tela-abrir .table_header li:nth-child(4){
    width: 22%;
}
.tela-abrir .table_header li:nth-child(5){
    width: 10%;
}

.tela-abrir .table_row li:nth-child(1){
    width: 23%;
}
.tela-abrir .table_row li:nth-child(2){
    width: 32%;
}
.tela-abrir .table_row li:nth-child(3){
    width: 23%;
}
.tela-abrir .table_row li:nth-child(4){
    width: 22%;
    padding: 0;
    border: none;
}
.tela-abrir .table_row li:nth-child(4) select{
    width: 100%;
    border: 1px solid #c5c5c5
}

.tela-abrir .table_row li:nth-child(5){
    width: 10%;
    background-color: #2e4a7e;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
}